/* reset */
a, abbr, address, area, article, aside, audio, b, base, bdo, blockquote, body, br, button, canvas, caption, cite, code, col, colgroup, command, datagrid, datalist, datatemplate, dd, del, details, dfn, dialog, div, dl, dt, em, embed, eventsource, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, i, iframe, img, ins, kbd, label, legend, li, link, map, mark, menu, meter, nav, nest, noscript, object, ol, optgroup, option, output, p, param, pre, progress, q, ruby, rp, rt, rule, samp, section, select, small, source, span, strong, sub, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, var, video {background:transparent; border:0px; font-size:100%; margin:0px; outline:0px; padding:0px; vertical-align:baseline;} 
input {font-size:100%; margin:0px; outline:0px; padding:0px;}
body {line-height:1;} 
ol, ul {list-style:none;} 
blockquote, q {quotes:none;} 
blockquote:before, blockquote:after, q:before, q:after {content:' '; content:none;} 
:focus {outline:0px;} 
ins {text-decoration:none;} 
del {text-decoration:line-through;} 
table {border-collapse:collapse; border-spacing:0px;} 
html {height:100%;}

/* html tags properties */

body {
  font-family: "trebuchet ms", Georgia;
  background-color: #F6F4E8;
  position: relative;
  margin:0 auto;
  max-width:1200px;
  padding:0;
}

h1 {
  margin-bottom: 20px;
  font-size: 180%;
}

h2 {
  margin-bottom: 20px;
  font-size: 160%;
  line-height: 160%;
}

p {
  line-height: 130%;
  margin-bottom: 10px;
}

input.button {
  background: #f4f4e8;
  background: -moz-linear-gradient(0% 100% 90deg, #f4f4e8, #d0c17e);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4e8), to(#d0c17e));
  border: 1px solid #928960;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  box-shadow: inset 0 1px 0 0 #d0c17e;
  -moz-box-shadow: inset 0 1px 0 0 #d0c17e;
  -webkit-box-shadow: inset 0 1px 0 0 #d0c17e;
  color: #2d2a1f;
  line-height: 1;
  padding: 1px 10px 4px 10px;
  text-align: center;
  text-shadow: 0 1px 0 #f4f4e8;
  cursor: pointer;
  height: 23px;
}

input.button:hover {
  background: #d0c17e;
  background: -moz-linear-gradient(0% 100% 90deg, #d0c17e, #f4f4e8);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d0c17e), to(#f4f4e8));
}

input.button:active {
  background: #d0c17e;
  background: -moz-linear-gradient(0% 100% 90deg, #b3a772, #d9d9c5);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b3a772), to(#d9d9c5));
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/* global classes */

.hidden {
  display: none;
}

/* layout */
#page {
  padding:0 2em;
}

#content {
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #898058;
  line-height: 120%;
  padding-top: 20px;
  float: left;
  width: 100%;
}

#main {
  float: left;
  width: 65%;
}

#additional {
  float: right;
  width: 32%;
}

/* header */

#header {
  background: #2b3b3b url(../s/toplogo.jpg) bottom right;
  height: 130px;
  position: relative;
}

#header h2 {
  position: absolute;
  color: white;
  bottom: 0;
  left: 20px;
  font-size: 400%;
}

#header a {
  text-decoration: none;;
}

#header a:hover h2 {
  text-shadow: 0 0 0.3em #fff
}

/* navigation */

#nav {
  float: left;
  width: 100%;
  background: #d5c179;
  border-bottom: 1px solid #898058;
  border-top: 1px solid #898058;
}

#nav ul {
  float: left;
  width: auto;
  padding: 10px 0 10px 18px;
}

#nav li {
	float: left;
	padding-right: 18px;
}

#nav form {
  float: right;
  margin: 8px 8px 0 0;
}

#nav form input {
  font-size: 15px;
}

#nav form #q {
	width: 200px;
}

/* footer */

#footer {
	float: left;
	width: 100%;
	background: #d5c179;
	border-bottom: 1px solid #898058;
	border-top: 1px solid #F6F4E8;
}

#footer ul {
	float: left;
	width: auto;
	padding: 10px 0 10px 18px;
}

#footer li {
	float: left;
	padding-right: 18px;
}

/* common */

.elemlist {
	float: left;
	width: 100%;
}

.elemlist .elem {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
}

.elemlist .info {
	margin-left: 122px;
}

.elemlist .info li {
  padding-top: 5px;
}

.cover {
	float:left;
	position: relative;
	width: 112px;
	height: 106px;
}

.cover span {
	position: absolute;
	background: url(../s/cdcases.png) no-repeat;
	width: 112px;
	height: 106px;
}

.cover img {
	position: absolute;
	margin-left: 9px;
	margin-top: 3px;
	width: 100px;
	float: left;
}

/* letter navigation */

.letternav {
	width: 100%;
	text-transform: uppercase;
	background: #d5c179;
	margin-bottom: 10px;
	float: left;
}

.letternav li {
	float: left;
	padding: 5px;
}

.letternav  a {
	display: block;
}

.letternav li.selected {
	background: #ede0c0;
}

/* main */

#latest {
  float: left;
  width: 430px;
  margin-bottom: 20px;
}

#premieres {
  float: left;
  width: 430px;
}

#intro {
  margin-top: 30px;
  clear: both;
}

/* album */
/* odsłona albumu */
#picture {
  margin-right: 10px;
	width: 327px;
	height: 330px;
	position: relative;
	float: left;
}

#picture * {
	position: absolute;
}

#case {
	width: 100%;
	height: 100%;
	background: url(../s/cdcase.png) no-repeat;
}

#picture img {
/*  top: 6px;
  left: 20px;*/
	width: 320px;
}

#brief>ul li {
  margin-bottom: 8px;
}

#brief>ul li span{
  font-size: 90%;
  color: #6B623B;
}

#brief ul.eps {
  list-style: square inside;
}

#brief ul.eps li {

}

#description {
  clear: both;
}

/* tracklist */
#tracklist {
  clear: both;

}
#tracklist table {
  width: 100%;
  margin-bottom: 10px;
  clear: both;
  }

#tracklist table td {
  padding: 4px 0 8px 10px;
}

#tracklist table tr td ul li {
  font-size: 11px;
}

#tracklist table tr {
  border-bottom: 1px #d5c179 solid;
}

#tracklist table td.align {
  text-align: right;
}

#tracklist h2 {
  float: left;
}

#tracklist span.toggle {
  float: left;
  margin: 13px 0 0 12px;
  font-size: 80%;
}
